# coding: utf-8

"""
    Kernel API

    Access Kernel insights programmatically

    OpenAPI spec version: 0.2
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class MetricsApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def metrics_metadata_get(self, country_iso, **kwargs):
        """
        All available metric names and descriptions
        The Metrics metadata endpoint returns all available metrics, descriptions, UOMs, and other supporting information for a given geography level and crop
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.metrics_metadata_get(country_iso, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str country_iso: 3-letter country code (required)
        :param str metric_category: Metric category
        :param list[str] metric_code: Comma-delimited list of metric codes
        :return: list[Metric]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.metrics_metadata_get_with_http_info(country_iso, **kwargs)
        else:
            (data) = self.metrics_metadata_get_with_http_info(country_iso, **kwargs)
            return data

    def metrics_metadata_get_with_http_info(self, country_iso, **kwargs):
        """
        All available metric names and descriptions
        The Metrics metadata endpoint returns all available metrics, descriptions, UOMs, and other supporting information for a given geography level and crop
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.metrics_metadata_get_with_http_info(country_iso, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str country_iso: 3-letter country code (required)
        :param str metric_category: Metric category
        :param list[str] metric_code: Comma-delimited list of metric codes
        :return: list[Metric]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['country_iso', 'metric_category', 'metric_code']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method metrics_metadata_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'country_iso' is set
        if ('country_iso' not in params) or (params['country_iso'] is None):
            raise ValueError("Missing the required parameter `country_iso` when calling `metrics_metadata_get`")


        collection_formats = {}

        resource_path = '/metrics/metadata'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'country_iso' in params:
            query_params['country_iso'] = params['country_iso']
        if 'metric_category' in params:
            query_params['metric_category'] = params['metric_category']
        if 'metric_code' in params:
            query_params['metric_code'] = params['metric_code']
            collection_formats['metric_code'] = 'csv'

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='list[Metric]',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def metrics_table_get(self, metric_code, crop, country_iso, geo_level, start_date, **kwargs):
        """
        Get values for a metric (or group of metrics) for a specific geography, crop, and date (or date range).
        This endpoint returns a table of values, where the rows describe metrics for a specific geography on a specific date for a specific crop.  The list of columns to be included should be specified as a comma delimited list of metric identifiers.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.metrics_table_get(metric_code, crop, country_iso, geo_level, start_date, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param list[str] metric_code: Comma-delimited list of metric codes (required)
        :param str crop: Filter response by crop (required)
        :param str country_iso: 3-letter country code (required)
        :param str geo_level: Geographic level of granularity (required)
        :param date start_date: First date for which metrics are returned (required)
        :param list[str] geo_id: Comma-delimited list of country-specific geography IDs
        :param date end_date: Last date included in the timeseries
        :param str collapse: Change the sampling frequency by only returning the last observation for the given time period. (weekly, monthly, annual, none)
        :return: Table
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.metrics_table_get_with_http_info(metric_code, crop, country_iso, geo_level, start_date, **kwargs)
        else:
            (data) = self.metrics_table_get_with_http_info(metric_code, crop, country_iso, geo_level, start_date, **kwargs)
            return data

    def metrics_table_get_with_http_info(self, metric_code, crop, country_iso, geo_level, start_date, **kwargs):
        """
        Get values for a metric (or group of metrics) for a specific geography, crop, and date (or date range).
        This endpoint returns a table of values, where the rows describe metrics for a specific geography on a specific date for a specific crop.  The list of columns to be included should be specified as a comma delimited list of metric identifiers.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.metrics_table_get_with_http_info(metric_code, crop, country_iso, geo_level, start_date, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param list[str] metric_code: Comma-delimited list of metric codes (required)
        :param str crop: Filter response by crop (required)
        :param str country_iso: 3-letter country code (required)
        :param str geo_level: Geographic level of granularity (required)
        :param date start_date: First date for which metrics are returned (required)
        :param list[str] geo_id: Comma-delimited list of country-specific geography IDs
        :param date end_date: Last date included in the timeseries
        :param str collapse: Change the sampling frequency by only returning the last observation for the given time period. (weekly, monthly, annual, none)
        :return: Table
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['metric_code', 'crop', 'country_iso', 'geo_level', 'start_date', 'geo_id', 'end_date', 'collapse']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method metrics_table_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'metric_code' is set
        if ('metric_code' not in params) or (params['metric_code'] is None):
            raise ValueError("Missing the required parameter `metric_code` when calling `metrics_table_get`")
        # verify the required parameter 'crop' is set
        if ('crop' not in params) or (params['crop'] is None):
            raise ValueError("Missing the required parameter `crop` when calling `metrics_table_get`")
        # verify the required parameter 'country_iso' is set
        if ('country_iso' not in params) or (params['country_iso'] is None):
            raise ValueError("Missing the required parameter `country_iso` when calling `metrics_table_get`")
        # verify the required parameter 'geo_level' is set
        if ('geo_level' not in params) or (params['geo_level'] is None):
            raise ValueError("Missing the required parameter `geo_level` when calling `metrics_table_get`")
        # verify the required parameter 'start_date' is set
        if ('start_date' not in params) or (params['start_date'] is None):
            raise ValueError("Missing the required parameter `start_date` when calling `metrics_table_get`")


        collection_formats = {}

        resource_path = '/metrics/table'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'metric_code' in params:
            query_params['metric_code'] = params['metric_code']
            collection_formats['metric_code'] = 'csv'
        if 'crop' in params:
            query_params['crop'] = params['crop']
        if 'country_iso' in params:
            query_params['country_iso'] = params['country_iso']
        if 'geo_level' in params:
            query_params['geo_level'] = params['geo_level']
        if 'geo_id' in params:
            query_params['geo_id'] = params['geo_id']
            collection_formats['geo_id'] = 'csv'
        if 'start_date' in params:
            query_params['start_date'] = params['start_date']
        if 'end_date' in params:
            query_params['end_date'] = params['end_date']
        if 'collapse' in params:
            query_params['collapse'] = params['collapse']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='Table',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def metrics_timeseries_metric_code_get(self, metric_code, crop, country_iso, geo_level, start_date, end_date, **kwargs):
        """
        Get values for a metric for a specific geography and a specified time period.
        This endpoint returns a timeseries of values for a metric describing a specific geography.  You must provide the crop, the country, geographic level, and the id of the geography, as well as a start and end date.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.metrics_timeseries_metric_code_get(metric_code, crop, country_iso, geo_level, start_date, end_date, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param list[str] metric_code: Comma-delimited list of metric codes (required)
        :param str crop: Return metrics pertaining to a specific crop (required)
        :param str country_iso: 3-letter country code (required)
        :param str geo_level: Geographic level of granularity (required)
        :param date start_date: Start date of the timeseries (required)
        :param date end_date: Last date included in the timeseries (required)
        :param list[str] geo_id: Comma-delimited list of country-specific geography IDs
        :return: Timeseries
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.metrics_timeseries_metric_code_get_with_http_info(metric_code, crop, country_iso, geo_level, start_date, end_date, **kwargs)
        else:
            (data) = self.metrics_timeseries_metric_code_get_with_http_info(metric_code, crop, country_iso, geo_level, start_date, end_date, **kwargs)
            return data

    def metrics_timeseries_metric_code_get_with_http_info(self, metric_code, crop, country_iso, geo_level, start_date, end_date, **kwargs):
        """
        Get values for a metric for a specific geography and a specified time period.
        This endpoint returns a timeseries of values for a metric describing a specific geography.  You must provide the crop, the country, geographic level, and the id of the geography, as well as a start and end date.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.metrics_timeseries_metric_code_get_with_http_info(metric_code, crop, country_iso, geo_level, start_date, end_date, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param list[str] metric_code: Comma-delimited list of metric codes (required)
        :param str crop: Return metrics pertaining to a specific crop (required)
        :param str country_iso: 3-letter country code (required)
        :param str geo_level: Geographic level of granularity (required)
        :param date start_date: Start date of the timeseries (required)
        :param date end_date: Last date included in the timeseries (required)
        :param list[str] geo_id: Comma-delimited list of country-specific geography IDs
        :return: Timeseries
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['metric_code', 'crop', 'country_iso', 'geo_level', 'start_date', 'end_date', 'geo_id']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method metrics_timeseries_metric_code_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'metric_code' is set
        if ('metric_code' not in params) or (params['metric_code'] is None):
            raise ValueError("Missing the required parameter `metric_code` when calling `metrics_timeseries_metric_code_get`")
        # verify the required parameter 'crop' is set
        if ('crop' not in params) or (params['crop'] is None):
            raise ValueError("Missing the required parameter `crop` when calling `metrics_timeseries_metric_code_get`")
        # verify the required parameter 'country_iso' is set
        if ('country_iso' not in params) or (params['country_iso'] is None):
            raise ValueError("Missing the required parameter `country_iso` when calling `metrics_timeseries_metric_code_get`")
        # verify the required parameter 'geo_level' is set
        if ('geo_level' not in params) or (params['geo_level'] is None):
            raise ValueError("Missing the required parameter `geo_level` when calling `metrics_timeseries_metric_code_get`")
        # verify the required parameter 'start_date' is set
        if ('start_date' not in params) or (params['start_date'] is None):
            raise ValueError("Missing the required parameter `start_date` when calling `metrics_timeseries_metric_code_get`")
        # verify the required parameter 'end_date' is set
        if ('end_date' not in params) or (params['end_date'] is None):
            raise ValueError("Missing the required parameter `end_date` when calling `metrics_timeseries_metric_code_get`")


        collection_formats = {}

        resource_path = '/metrics/timeseries/{metric_code}'.replace('{format}', 'json')
        path_params = {}
        if 'metric_code' in params:
            path_params['metric_code'] = params['metric_code']
            collection_formats['metric_code'] = 'csv'

        query_params = {}
        if 'crop' in params:
            query_params['crop'] = params['crop']
        if 'country_iso' in params:
            query_params['country_iso'] = params['country_iso']
        if 'geo_level' in params:
            query_params['geo_level'] = params['geo_level']
        if 'start_date' in params:
            query_params['start_date'] = params['start_date']
        if 'end_date' in params:
            query_params['end_date'] = params['end_date']
        if 'geo_id' in params:
            query_params['geo_id'] = params['geo_id']
            collection_formats['geo_id'] = 'csv'

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='Timeseries',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)
