# coding: utf-8

"""
    Kernel API

    Access Kernel insights programmatically

    OpenAPI spec version: 0.2
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class UserApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def user_alerts_put(self, api_key, user_alert_preferences, **kwargs):
        """
        Update alert preferences
        The alerts endpoint allows the web app to update user alert preference information.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.user_alerts_put(api_key, user_alert_preferences, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str api_key: Authorize request via API key (required)
        :param UserAlertPreferences user_alert_preferences: The alert preferences you want to update (required)
        :return: UserAlertPreferences
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.user_alerts_put_with_http_info(api_key, user_alert_preferences, **kwargs)
        else:
            (data) = self.user_alerts_put_with_http_info(api_key, user_alert_preferences, **kwargs)
            return data

    def user_alerts_put_with_http_info(self, api_key, user_alert_preferences, **kwargs):
        """
        Update alert preferences
        The alerts endpoint allows the web app to update user alert preference information.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.user_alerts_put_with_http_info(api_key, user_alert_preferences, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str api_key: Authorize request via API key (required)
        :param UserAlertPreferences user_alert_preferences: The alert preferences you want to update (required)
        :return: UserAlertPreferences
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['api_key', 'user_alert_preferences']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method user_alerts_put" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'api_key' is set
        if ('api_key' not in params) or (params['api_key'] is None):
            raise ValueError("Missing the required parameter `api_key` when calling `user_alerts_put`")
        # verify the required parameter 'user_alert_preferences' is set
        if ('user_alert_preferences' not in params) or (params['user_alert_preferences'] is None):
            raise ValueError("Missing the required parameter `user_alert_preferences` when calling `user_alerts_put`")


        collection_formats = {}

        resource_path = '/user/alerts'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'api_key' in params:
            query_params['api_key'] = params['api_key']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'user_alert_preferences' in params:
            body_params = params['user_alert_preferences']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'PUT',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='UserAlertPreferences',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def user_get(self, api_key, **kwargs):
        """
        User Profile
        The User Profile endpoint returns information about the user that has authorized with the application.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.user_get(api_key, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str api_key: Authorize request via API key (required)
        :return: Profile
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.user_get_with_http_info(api_key, **kwargs)
        else:
            (data) = self.user_get_with_http_info(api_key, **kwargs)
            return data

    def user_get_with_http_info(self, api_key, **kwargs):
        """
        User Profile
        The User Profile endpoint returns information about the user that has authorized with the application.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.user_get_with_http_info(api_key, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str api_key: Authorize request via API key (required)
        :return: Profile
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['api_key']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method user_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'api_key' is set
        if ('api_key' not in params) or (params['api_key'] is None):
            raise ValueError("Missing the required parameter `api_key` when calling `user_get`")


        collection_formats = {}

        resource_path = '/user'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'api_key' in params:
            query_params['api_key'] = params['api_key']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='Profile',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)
